---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
    <section>
        <div class="container raleway">
            <h2>Lista</h2>
        </div>
    </section>
</BaseLayout>
