---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <section>
    <div class="container raleway">
      <h2>Quero alugar meu imóvel</h2>
    </div>
  </section>
</BaseLayout>
