---
import { getCollection } from "astro:content";
import BoxImovel from "./Imovel/BoxImovel.astro";

const imovel_collection = await getCollection("imoveis", (data) => {
  return data.data.super_destaque;
});

const destaques = imovel_collection
  .map((data) => {
    return data.data;
  })
  //.slice(0, imovel_collection.length - excedente)
  .slice(0, 4);
---

<section class="destaques">
  {destaques.map((imovel) => <BoxImovel imovel={imovel} />)}
</section>

<style lang="less">
  .destaques {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2px;
    width: 100%;
    overflow: hidden;
    @media (max-width: 62.5em) {
      grid-template-columns: 1fr;
    }
  }
</style>
