---
import { getCollection } from "astro:content";
import BoxRelacionado from "./BoxRelacionado.astro";

interface Props {
    condominio: string;
}

const { condominio } = Astro.props;

const relacionados = (
    await getCollection("imoveis", (row) => {
        return row.data.condominio === condominio;
    })
)
    .map(({ data }) => data)
    .slice(0, 6);
---

<h3>Mais imóveis no Condomínio {condominio}</h3>
<div class="imoveis-relacionados">
    {
        relacionados.map((i) => (
            <div>
                <BoxRelacionado imovel={i} />
            </div>
        ))
    }
</div>
<style lang="less">
    .imoveis-relacionados {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(min(100%, 278px), 1fr));
        grid-gap: 2em 1em;
    }
    h3 {
        color: #000c39;
    }
</style>
